/* Custom Navbar styles */
.navbar {
    background-color: #f8f9fa;
    padding: 1rem;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-nav .nav-item .nav-link {
    color: #007bff;
    font-weight: bold;
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    color: #0056b3;
  }
  